.singleProduct {
  margin-top: 3rem;
  .row {
    .col-9 {
      display: flex;
      margin-left: -15px;
      margin-right: -15px;
      .product-image {
        padding: 0 15px;
        .image {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .product-content {
        padding: 0 15px;
        h1 {
          font-size: 1.75em;
          font-weight: 400;
        }
        .review {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 15px;
          .star {
            display: flex;
            align-items: center;
            gap: 4px;

            ion-icon {
              font-size: 12px;
              color: var(--color-warning);
            }
          }
          p {
            color: var(--color-text);
            font-size: 0.8125rem;
            font-weight: 500;
          }
        }
        .price {
          padding-bottom: 1rem;
        }
        .color-text {
          display: flex;
          font-size: 1.25rem;
          font-weight: 500;
          margin-bottom: 1rem;
          del {
            font-size: 90%;
            font-weight: 400;
            opacity: 0.3;
          }
        }
        p {
          margin-bottom: 1rem;
          font-size: 0.875rem;
        }
        .color {
          margin-bottom: 0.5rem;
          font-weight: 400;
          font-size: 0.875rem;
        }
        .color-list {
          margin: 1rem 0;
          ul {
            display: flex;
            align-items: center;
            gap: 10px;
            li {
              span {
                font-size: 0;
                width: auto;
                height: auto;
                min-width: 26px;
                min-height: 26px;
                border-radius: 100%;
              }
            }
          }
        }
        .size {
          margin-bottom: 0.5rem;
          font-weight: 400;
          font-size: 0.875rem;
        }
        .size-list {
          margin: 1.5rem 0;
          ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 5px;
            li {
              .size-text {
                text-align: center;
                width: 60px;
                border: 1px solid var(--color-form-border);
                padding: 9px 8px;
                height: auto;
                line-height: 1;
                font-size: 15px;
                cursor: pointer;
              }
            }
          }
        }
        .form {
          form {
            display: flex;
            gap: 8px;
            .input {
              width: 42px;
              font-size: 0.935rem;
              text-align: center;
              outline: none;
            }
            .btn {
              cursor: pointer;
              text-align: center;
              font-weight: 600;
              border-radius: 2px;
              background-color: #000;
              border-color: transparent;
              color: #fff;
              padding: 0.5rem 0.9375rem;
              height: 3rem;
              line-height: inherit;
              flex: 1;
              font-size: 15px;
            }
          }
          .extra-button {
            display: flex;
            gap: 10px;
            margin-top: 1rem;
            margin-bottom: 1.5rem;
            a {
              color: #000;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 0.875rem;
              gap: 5px;
            }
          }
        }
        .product-meta {
          border-top: 1px solid var(--color-form-border);
          padding-top: 1rem;
          .product-sku {
            display: flex;
            font-size: 0.875rem;
            .sku {
              padding-left: 6px;
              opacity: 1;
            }
          }
          .product-categories {
            display: flex;
            font-size: 0.875rem;
            .categories {
              opacity: 1;
              font-weight: 500;
              padding-left: 6px;
              .category-item {
                color: var(--color-text);
              }
            }
          }
        }
      }
    }
    .col-3 {
    }
    .col-12 {
      .product-tabs {
        padding-bottom: 16px;
        border-bottom: 1px solid var(--color-form-border);
        margin: 2rem 0 0 0;
        display: flex;
        gap: 40px;
        font-size: 1.25rem;
        font-weight: 500;
        a {
          color: #000;
          opacity: 0.3;
          &:hover {
            color: #000;
            opacity: 0.6;
          }
          &:focus {
            color: #000;
            opacity: 1;
          }
        }
      }
      .product-des {
        padding-top: 1rem;
        p {
          font-size: 1rem;
          font-weight: 400;
          left: -0.03px;
          margin-bottom: 1rem;
        }
      }
      .product-info {
        padding-top: 1rem;
        margin-bottom: 1rem;
        h2 {
          font-size: 1.25rem;
          font-weight: 400;
          margin-bottom: 10px;
        }
        table {
          width: 100%;
          border-collapse: collapse;

          tbody {
            tr {
              border: 1px solid var(--color-form-border);
              th {
                border: 1px solid var(--color-form-border);

                text-align: left;
                padding: 8px;
              }
              td {
                border: 1px solid var(--color-form-border);
                text-align: left;
                padding: 4px;
              }
            }
          }
        }
      }

      .product-review {
        padding-top: 1rem;

        .comment-title {
          font-size: 1.25rem;
          font-weight: 400;
          margin-bottom: 10px;
        }
        .comment-content {
          .meta {
            margin-bottom: 5px;
            strong {
              font-weight: 500;
            }
          }
          .description {
            margin-bottom: 1rem;
          }
        }

        .add-reviews {
          margin-bottom: 2rem;
          .add-reviews-title {
            font-size: 18px;
            line-height: 20px;
            font-weight: 400;
            margin-bottom: 30px;
            padding-bottom: 15px;
            border-bottom: 1px solid #e6e6e6;
          }
          p {
            font-size: 0.975rem;
            font-weight: 400;
            letter-spacing: -0.3px;
            margin-bottom: 1rem;
          }
          .form-control {
            .rating {
              p {
                font-size: 0.875rem;
                font-weight: 400;
                margin-bottom: 0.2rem;
              }
              ul {
                display: flex;
                margin-bottom: 1rem;
                li {
                  &:hover {
                    color: var(--color-warning);
                  }
                  &:focus {
                    color: var(--color-warning);
                  }

                  cursor: pointer;
                  span {
                    display: flex;
                    gap: 2px;
                    padding: 0 12px;
                    border-right: 1px solid #000;
                    ion-icon {
                      font-size: 12px;
                    }
                  }
                }
              }
            }
            .review {
              p {
                font-size: 0.875rem;
                font-weight: 400;
                margin-bottom: 0.2rem;
              }
              textarea {
                width: 100%;
              }
              margin-bottom: 1rem;
            }
            .name {
              margin-bottom: 1rem;
              p {
                font-size: 0.875rem;
                font-weight: 400;
                margin-bottom: 0.2rem;
              }
              .name-text {
                width: 100%;
                padding: 10px 0 10px 10px;
              }
            }
            .email {
              margin-bottom: 1rem;
              p {
                font-size: 0.875rem;
                font-weight: 400;
                margin-bottom: 0.2rem;
              }
              .email-text {
                width: 100%;
                padding: 10px 0 10px 10px;
              }
            }
            .save {
              margin-bottom: 1rem;
              display: flex;
              align-items: center;
              gap: 10px;
              font-size: 0.875rem;
            }
            .btn {
              font-weight: 600;
              border: 1px solid var(--color-form-border);
              cursor: pointer;
              font-size: 15px;
              padding: 0.5rem 0.9375rem;
              border-radius: 2px;
            }
          }
        }
      }
    }
  }
  .related-product {
    margin-bottom: 2rem;
    .row {
      margin-left: -15px;
      margin-right: -15px;
      .header {
        width: 100%;
        padding: 0 15px;
        h2 {
          font-size: 1.25rem;
          margin-bottom: 2rem;
          border-bottom: 1px solid var(--color-form-border);
          font-weight: 500;
        }
      }
    }
  }
}
