.buyersReviews {
  .row {
    .col-12 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h3 {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 0.875rem;
        color: var(--color-text-des);
        text-align: center;
      }
    }
    .slick-slider {
      width: 100%;
      .col-4 {
        margin-top: 20px;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .star {
          display: flex;
          align-items: center;
          gap: 5px;
          margin-bottom: 1.25rem;
          ion-icon {
            color: var(--color-danger);
            font-size: 1.125rem;
          }
        }
        .comment {
          font-size: 1.125rem;
          margin-bottom: 1.25rem;
          text-align: center;
        }

        .author {
          font-weight: 500;
          opacity: 0.3;
        }
      }
    }
  }
}
