.side-bar {
  padding-top: 25px;
  ul {
    li {
      a {
        display: block;
        color: #212529;
        text-align: left;
        font-size: 15px;
        line-height: 22.5px;
        padding: 4px 20px 4px 0;
      }
    }
  }
}
