.banner {
  padding: 25px 0 0 25px;
  width: 100%;
  .banner-wrapper {
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }
    .banner-text {
      position: absolute;
      top: 25%;
      left: 10%;
      h4 {
        color: #fff;
        font-size: 0.75rem;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 0.625rem;
      }

      h2 {
        color: #fff;
        font-size: 4.125rem;
        font-weight: 300;
        line-height: 1.1;
        margin-bottom: 1.25rem;
      }

      a {
        padding: 0;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 1rem;
        background-color: transparent;
        color: #fff;
        font-weight: 500;
      }
    }
  }
}
